version: '3.8'

services:
  portainer:
    image: portainer/portainer
    container_name: portainer-app
    command: -H unix:///var/run/docker.sock
    restart: always
    ports:
      - "127.0.0.1:7030:9000"
#      - 8000:8000
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - portainer_data:/data

volumes:
  portainer_data:
